<!-- views/profile.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Perfil</title>
</head>
<body>
    <h1>Perfil</h1>
    <pre><%= user %></pre>
    <a href="/api/auth/logout">Cerrar sesión</a>
</body>
</html>